name: 'Setup Go'
description: 'Set up Go environment with caching'

inputs:
  go-version:
    description: 'Go version to use'
    required: false
    default: '1.25'

runs:
  using: 'composite'
  steps:
    - name: Set up Go
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
      with:
        go-version: ${{ inputs.go-version }}
        cache: true
